html, body{
    height: 100%;
}

.game{
    background-image: url(./images/images.jfif);
    color: white !important;
    height: 100%;
    padding: 20px;
}

.title {
    color: #fff;
    font-size: 185%;
    text-align: center;
    padding: 10px;
    width: 30%;
    margin: auto;
}

#usernames {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    padding: 20px;
}

span {
    color: #eee945;
    font-weight: bold;
}

.main {
    width: 45%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(20, 17px);
    grid-gap: 6px;
    padding: 20px;
}

.square {
    width: 17px;
    height: 17px;
    background-color: rgb(203, 203, 209);
    text-align: center;
    font-weight: 1000;
    font-size: 12px;
    color: brown;
}

.square:hover {
    cursor: pointer;
    background-color: rgb(160, 160, 213);
}

.modal-content {
    color: brown !important;
}

